.loginsignup{
    width: 100%;
    height: 80vh;
    background: linear-gradient(180deg,#6c92ab,#e1ffea22 60%);
    padding-top: 100px;

}
.loginsignup-container{
    width: 580px;
    height: 600px;
    border-radius: 10px;
    border: 2px solid white;
    background: transparent;
    backdrop-filter: blur(20px);
    margin: auto;
    padding: 40px 60px;

}
.loginsignup-container h1{
    margin: 20px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.loginsignup-container button{
    width: 100%;
    height: 72px;
    color: white;
    background: #374151;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;

}
.loginsignup-login span{
    color: #6c92ab;
    font-weight: 600;
}
.loginsignup-agree{
    display:flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;

}
.Loginsignup-space{
margin-top: 100px;
}