.OrderConfirmtion-Message-Container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.truckGIF{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Information-Container{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.Information-Container p{
   
    font-size: 20px;
}
.Information-Container h5{
    font-size: 25px;
}

.Backbutton{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -200px;

}
.Button{
    height: 70px;
    width: 300px;
    border-radius: 10px;
    border: none;
    color: white;
    background: #6c92ab;
    font-size: 30px;
}
