.CheckoutContent{
    width: 100%;
    height: 80vh;
    background: linear-gradient(180deg,#6c92ab,#e1ffea22 60%);
    padding-top: 100px;

}
.CheckoutContent-container{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;

}
.CheckoutContent-container h1{
    margin: 20px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.CheckoutContent-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.CheckoutContent-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.CheckoutContent-container button{
    width: 100%;
    height: 72px;
    color: white;
    background: #374151;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.CheckoutContent-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;

}
.CheckoutContent-login span{
    color: #6c92ab;
    font-weight: 600;
}
.CheckoutContent-agree{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
    user-select: none;
    gap: 10px;
    padding: 40px 60px;

}
.CheckoutContent-agree label {
    display: flex;
    align-items: center; /* Align items vertically in the label */
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.CheckoutContent-agree input {
    margin-right: 8px; /* Adjust the margin as needed */
}
