.productdisplay{
    display: flex;
    margin: 0px 170px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.productdisplay-img-list img{
    height: 163px;

}
.productdisplay-main-img{
    width: 586px;
    height: 700px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-star p{
    margin-top: 13px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 24px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: black;
}
.productdisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.productdisplay-right-sizes-drop{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay-right button{
    padding: 20px 40px;
    width: 310px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #6c92ab;
    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right button:active{
    background: #171717;
}
.productdisplay-right-category{
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}
/* Stile für das Dropdown-Menü (select) */
.productdisplay-right-size select {
    padding: 8px;
    width: 100px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;

}

/* Stile für die einzelnen Optionen im Dropdown-Menü (option) */
.productdisplay-right-size select option {
    padding: 8px;
    font-size: 14px;
}

/* Hinzufügen von zusätzlichen Stilen für den ausgewählten Zustand im Dropdown-Menü */
.productdisplay-right-size select:focus {
    outline: none;
    border-color: #007bff; /* Farbe ändern, wenn das Dropdown-Menü fokussiert ist */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Hinzufügen eines leichten Schattens */
}