.navbar-style
{
  background-color: #000f26 !important;
}
.navbar-font
{
  font-family: "Brush Script MT", cursive;
  font-size: 39px;
}
.text-font
{
  font-family: "Roboto Light",serif;
}
.button-color
{
  color: #000f26;
}