.footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: linear-gradient(180deg,#e1ffea22,#6c92ab 60%);


}
.footer_background{
    background: linear-gradient(180deg,#e1ffea22,#6c92ab 60%);
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 10px;
}
.footer-logo p{
    font-family: "Brush Script MT", cursive;
    font-size: 80px;
    justify-content: center;
    align-items: center;
}
.footer-links{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px;
    color: #252525;
    font-size: 20px;
    margin-right: 25px;

}
.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.footer-icons-container{
    margin-bottom: 20px;
    padding: 10px 10px;

}
